body {
  display: grid;
  grid-template-columns: auto 80% auto;
  grid-gap: 1em;
}

h1 {
  font-size: 2em;
}

b, a {
  white-space: nowrap;
}

p {
  font-size: 1em;
}

ul {
  padding-inline-start: 1em;
}

img {
  height: 100%;
  width: 100%;
  max-width: 268px;
}
