body {
  display: grid;
  grid-template-columns: auto 80% auto;
  grid-gap: 1em;
}

h1 {
  /* font-size: 2em; */
}

code {
  font-size: 1.15em;
  color: blue;
}

b, a {
  white-space: nowrap;
}

p {
  font-size: 1em;
}

textarea {
  /* font-size: 1.15em; */
}

iframe {
  /* pointer-events: none; */
  border: none;
  width: 100%;
  height: 100%;
}

ul {
  padding-inline-start: 0em;
}

img {
  height: 100%;
  width: 100%;
  max-width: 268px;
}
